  <tr class='share-msg-form'>
    <td>
      <div class ="panel ">
        <div class="panel-heading">Share Your Shrty via SMS/Text</div>
        <div class="panel-body">
        
        <%= form_for(@text_message, remote: true, :html => { :id => 'text_message_form' }) do |f| %>
          <div class="form-group">
              <%= f.label :to_phone_number, "Please enter the 10 digit phone number", class:"control-label"%><br>
              <%= f.text_field :to_phone_number, class: "form-control"  %>
          </div>
          <div class="form-group">
            <%= f.label :message, "Message Preview", class:"control-label" %><br>
            <%= f.text_area :message, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.hidden_field :short_link_id %>
            <%= f.submit "Send Shrty!", class: "btn btn-primary"%>
          </div>

            <div id="text-message-form-status"> 
              <ul class="err" id="text-msg-err-detail"></ul>
            </div>
        <% end %>
      
      </div>
    </div>
  </td>
</tr>